# Dependency directories
node_modules/

# Optional npm lock file
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# ignore cached data
*.dog-cache.json*

# DS_Store
*.DS_Store*